{% extends 'books/index.html' %}
{% load static %}

{%block title%} Książki wypożyczone {%endblock%}
{% block content %}
<br>
<h2> Statystyka wypożyczeń w miesiącu</h2>
    <table class="table table-striped">
  <thead>
    <tr>

      <th scope="col"></th>
      <th scope="col">Miesiąc</th>
      <th scope="col">Ilość</th>

    </tr>
  </thead>
  <tbody>

    {% for i in ilosc_wyp_month %}


    <tr>
      <th scope="row">#</th>
      <td>{{ i.month}}</td>
      <td>{{ i.ilosc}}</td>

    </tr>

    {% endfor %}

  </tbody>
</table>

{% endblock %}